<h2>Latest posts:</h2><br>

<% @posts.each do |post| %>
    <p>
      <%= post['content'] %>
      <br>
      <br>

      <span style="font-size: 75%; color: #999">
        Написал <%= post['username'] %> <%= post['created_at'] %>  <a href="/comments/<%= post['id'] %>">Comments</a>
      </span>
    </p>
    <hr>
<% end %>