<h2>Latest posts:</h2><br>

<% @posts.each do |post| %>
    <p>
      <%= post['content'] %>
      <br>
      <br>

      <span style="font-size: 75%; color: #999">Написал <%= post['username'] %> <%= post['created_at'] %></span>

    <!--<a href="/comments/<%= post['id'] %>">Comments</a>-->
    </p>
    <hr>
<% end %>